@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#intro {
    transition: opacity 5s;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
}

#intro>img {
    height: 25%;
    transition: opacity 2.5s;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat';
}

html,
body {
    overflow-x: hidden;
}

#header-wrapper {
    height: 64px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, .45);
    backdrop-filter: blur(46px);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    will-change: auto;
    transition: all ease .4s;
    transform: translateY(0px);
    flex-shrink: 0;
    z-index: 6;
}

.right-panel>nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: larger;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica Neue", Arial;
}

.right-panel>i {
    display: none;
}

.left-panel>a>img {
    height: 45px;
}

#mobile_header {
    background-color: black;
    color: white;
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    animation-name: header_show;
    animation-duration: 1s;
    transition: display 1s;
}

#mobile_header>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
}

#btn_close_mobile_header {
    color: red;
    align-self: end;
    margin-right: 20px;
    margin-top: 20px;
    font-size: xx-large;
}

#mobile_header>div:first-child>nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mobile_header>div:first-child>nav a {
    margin: 10px 0;
    font-size: x-large;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

@keyframes header_show {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes header_hide {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}


/*  ACCEUIL */
.acceuil {
    height: 100vh;
    width: 100%;
}

.image-acceuil {
    height: 100%;
    width: 100%;
    background-image: url("./../assets/images/bg.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}

.home_video {
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.home-text h2 {
    display: inline-block;
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    font-family: Montserrat;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    width: 153px;
    height: 29px;
    border-radius: 6px;
    background: #FF5959;
    text-align: center;
    text-decoration: none;
}

.home-bg-effet {
    width: 100%;
    height: 30%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.74) 20%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    position: absolute;
    bottom: 33px;
    width: 100%;
    z-index: 5;
}

/*   PROJET   */

.projet {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.section-gauche {
    width: 50%;
    height: inherit;
    text-align: left;
    background-image: url("./../assets/images/Illustration_sans_titre\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.section-gauche>div {
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    background: linear-gradient(266deg, #FFF 9.66%, rgba(217, 217, 217, 0.00) 94.14%);
}

.section-droite {
    width: 30%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 50px;
}

.section-droite>div:first-child {
    display: flex;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 30px;
}

.section-droite>div:first-child h1 {
    color: #252525;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.section-droite>p {
    white-space: pre-line;
}

.span-effect {
    color: #FF5959;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.effet {
    background: linear-gradient(180deg, #FF5959 0%, rgba(255, 89, 89, 0.00) 100%);
    width: 50%;
    height: 1px;
}

/*   VISUEL DU PROJET   */
.visuel-projet {
    height: max-content;
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}

.visuel-projet>div:first-child {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visuel-projet>div:first-child>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visuel-projet>div:first-child>div:first-child>h1 {
    margin-bottom: 10px;
    font-size: xx-large;
}

.visuel-projet>div:first-child>div:first-child>div:last-child {
    margin-bottom: 10px;
    width: 100%;
}

.projet-card {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.projet-card div {
    width: 250px;
    height: 250px;
    background: rgba(255, 89, 89, 0.46);
    border-radius: 22px;
}

/*   NOTRE-EQUIPE   */
.notre-equipe>div:first-child {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notre-equipe>div:first-child>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.membre>div {
    display: flex;
    flex-direction: column-reverse;
    background: #FFC9C9;
    box-shadow: 0px 10px 0px rgba(255, 201, 201, 0.25);
    border-radius: 24px;
    height: 326px;
    width: 271px;
    margin: 11px 11px;
    align-items: center;
    justify-content: flex-end;
}

.photo-membre {
    width: 271px;
    height: 219px;
    border-radius: 22px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.membre-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.membre-info span {
    font-size: larger;
}

.equipe-wrapper>div>h1 {
    margin-bottom: 10px;
    font-size: xx-large;
}

.equipe-wrapper>div>p {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #FF5959;
    font-size: x-large;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word;
    padding: 0 2px;
}

.equipe-wrapper>div .effet {
    width: 100%;
}

/*  FOOTER    */
footer {
    background: #201E1E;
    height: 389px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 50px;
    padding-top: 30px;
}

footer>div:first-child {
    display: flex;
    justify-content: space-evenly;
}

footer>div:first-child>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a-propos-titre {
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 900;
    word-wrap: break-word;
}

.a-propos-titre>span {
    color: #FF5959;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 900;
    word-break: break-all;
}

.a-propos>h2:first-of-type {
    margin: 10px 0;
    color: #FF5959;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.a-propos>div:last-child i {
    width: 23px;
    height: 23px;
    color: #FF5959;
    font-size: 23px;
    margin: 0 2.5px;
}

.a-propos>div:last-child {
    margin-top: 20px;
}

.footer-effect {
    width: 82px;
    height: 0px;
    border: 1px #FF5959 solid;
    margin-bottom: 10px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 70%;
    text-align: left;
}

.footer-contact div {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 10px 0;
}

.footer-contact>div p {
    padding-left: 14px;
}

.mentions-legales>div:first-child {
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    text-decoration: underline;
}

.mentions-legales>div:last-child {
    text-align: center;
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
    white-space: pre-line;
}

/*  SWIPPER     */
.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-wrapper {
    height: 100vh;
    width: 100%;
}

/*  SCROLL SECTION-BY-SECTION*/
.scroll-control {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.scroll-control span {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: #000;
    opacity: 0.7;
    color: white;
    text-align: center;
}

.scroll-control span:hover {
    opacity: 1;
}

.container {
    height: 100%;
}

.row {
    align-items: center;
    text-align: center;
    height: 100%;
    position: relative;
}

@media all and (max-width: 1023px) {
    .home-text h2 {
        font-size: larger;
    }

    .section-gauche {
        display: none;
    }

    .section-droite {
        width: 100%;
        margin: 0 10px;
    }

    .left-panel {
        padding-left: 20px;
    }

    .left-panel>a>img {
        width: 50px;
        height: 55px;
    }

    .right-panel {
        padding-right: 20px;
    }

    .right-panel>nav {
        display: none;
    }

    .right-panel>i {
        display: contents;
        font-size: xx-large;
    }

    #header-wrapper {
        padding: 0;
    }

    .projet {
        height: 100%;
        margin-top: 20px;
    }

    .projet-card>div {
        margin: 10px 0;
    }

    footer>div:first-child {
        flex-direction: column;
    }

    footer {
        height: max-content;
    }

    footer>div:first-child>div {
        margin: 20px 0;
    }

    .section-droite>div:first-child h1 {
        font-size: xx-large;
        margin-bottom: 10px;
    }

    .section-droite>div:first-child {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .section-droite>p {
        white-space: pre-line;
        text-align: center;
    }

    #a-propos {
        padding-top: 64px;
    }

    .home-bg-effet {
        height: 40%;
    }
}